        <section id="above">
            <div id="abovelogo">
                <li><img src="{{ url('theme://images/favicon.png') }}" alt="francois-vidit.fr" title="francois-vidit.fr" height="88px" width="88px" /></li>
            </div>
            <div id="aboveimages">
                <li><a href="{{ base_url_absolute }}" title="francois-vidit.fr" height="88px" />{% include 'partials/above-logo.html.twig' %}</a></li>
            </div>
        </section>
