        <section id="above">
            <div id="abovelogo">
                <li><img src="{{ url('theme://images/favicon.png') }}" alt="francois-vidit.fr" title="francois-vidit.fr" height="88px" width="88px" /></li>
            </div>
            <div id="aboveimages">
                <li><img src="{{ url('theme://images/logo_site.png') }}" alt="francois-vidit.fr" title="francois-vidit.fr" height="88px" /></li>
            </div>
        </section>
