# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
data/*
themes/antimatter/images/*
themes/mytheme/images/*
plugins/*
accounts/*
config/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp