# Grav Specific
.gitattributes
.htaccess
.sass-cache
applications.html
bitnami.css
composer.json
composer.lock
css-compiled
favicon.ico
htaccess.txt
index.php
index2.php
grav.sublime-workspace
lighttpd.conf
nginx.conf
test.php
web.config



agency-site/*
assets/*
backup/*
bin/*
cache/*
ceevee-site/*
dashboard/*
grayscale-site/*
google-map/*
hpstr-site/*
images/*
img/*
landio-site/*
logs/*
mediator/*
onepage-site/*
piwik/*
phile/*
photographer-site/*
resume-site/*
rtfm-site/*
saturn-site/*
shop-site/*
soraarticle-blog/*
system/*
vendor/*
webalizer/*
xampp/*

user/accounts/*
user/config/*
user/data/*
user/pages/images/*
user/pages/slider/*
user/plugins/*
user/themes/antimatter/images/*
user/themes/antimatter/fonts/*
user/themes/bootstrap/*
user/themes/mytheme/images/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.sublime-project