{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
	{% block above %}
		{% include 'partials/above.html.twig' %}
	{% endblock %}
    {% block content %}
		{% set blog_image = page.media.images|first.contrast(15).brightness(0).colorize(0,0,0) %}

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
			{% if not page.header.base64_background is same as(empty) %}
			{% include 'partials/backgrounds/background-' ~ page.header.base64_background ~ '-svg.html.twig' %}
			{% include 'partials/backgrounds/background_base64-script.html.twig' %}
			{% endif %}
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ dump (page) }}
			{{ page.content }}
		</div>

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

		<div class="content-wrapper blog-content-list grid">
			<div id="listing" class="block">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>
		</div>
		<script>
			$(document).ready(function(){
				$(" div.content-wrapper-list-item", this).click(function(){
			        $("div.list-item.lang-font", this).toggleClass("open");
			    });
			    $("div.list-item.lang-font", this).click(function(){
			        $("div#body-blog-item.list-blog-padding", this).toggleClass("open");
			        $("div.list-blog-header", this).toggleClass("open");
			    });
			});
		</script>
	{% endblock %}
{% endembed %}


