{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ content }}

    <div class="alert">{{ form.message }}</div>
    <p>{{ 'CONTACT_SUMMARY'|t }}</p>

    {% include "forms/data.html.twig" %}

{% endblock %}
