// Font Family
$font-family-default:  			'Meiryo', 'Noto Sans Japanese', 'SourceHanSansJP', 'hiragino-kaku-gothic-pro-w3', 'heiseiminstd-w3', 'Lucida Grande', serif;
$font-family-header:  			'Meiryo', 'Noto Sans Japanese', 'SourceHanSansJP', 'hiragino-kaku-gothic-pro-w3', 'heiseiminstd-w3', 'Lucida Grande', serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
