// Font Family
$font-family-default:  			"SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
$font-family-header:  			"SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
