// Your custom SCSS should be written here...

#header {
	background-color: rgba(255,255,255,1);
	position: relative;
	margin-bottom: 0;
	padding-right: 0px !important;
	padding-left: 0px  !important;
	// scroll based changes
	&.scrolled {
		background-color: rgba(255,255,255,1) !important;
		position: fixed; 
		top: 0px;
	}
}

#header #logo h3 {
    font-family: Georgia,serif;
    font-style: italic;
    text-transform: lowercase;
}

#header div#logo {
	padding-left: 7rem;
	@include breakpoint(tablet-range) {
		padding-left: 4rem;
	}
	@include breakpoint(mobile-only) {
		padding-left: 0.5rem;
	}
}

#header div#navbar {
	padding-right: 7rem;
	@include breakpoint(tablet-range) {
		padding-right: 5rem;
	}
	@include breakpoint(mobile-only) {
		padding-right: 0.5rem;
	}
}

#footer {
	padding-right: 0px;
	padding-left: 0px;
}

#body {
	//#efc94d (jaune)
	//#DCDCDC (un peu plus foncé) #EEEEEE (gris clair) #e6e6e6 (gris google map)
	// #E9F0F4;
	background: #EEEEEE;
	padding-top: 0rem;
	padding-bottom: 8rem;
}

p {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem
}

h2 {
	font-family: Meiryo;
}

h4 {
	font-size: 1.25rem;
	font-family: Meiryo !important;
}

#listing .tags a {
    padding: 0.07rem 0.3rem;
        padding-top: 0.07rem;
        padding-right: 0.3rem;
        padding-bottom: 0.07rem;
        padding-left: 0.3rem;
    margin-bottom: 0.2rem;
    background-color: #FFFFFF;
    text-transform: lowercase;
}

// navbar uppercase, color
#header #navbar ul.navigation li a {
	text-transform: uppercase;
	color: #3B94D9;
}

#header.scrolled #navbar a {
	color: #3B94D9 !important;
}

#header #navbar ul.navigation li.active a {
	text-transform: lowercase;
}

#header #navbar .fa-lg {
	vertical-align: 1%;
}

//langswitcher color orange
#header #navbar li#langswitcher a {
	color: #FA743E;
}

#header.scrolled #navbar li#langswitcher a {
	color: #FA743E !important;
}

// post date
.list-blog-date div {
	float: left;
	text-align: left;
	font-size: 1.4rem;
	margin: 2px;
}

.list-blog-date p {
	color: #b3b3b3;
	text-align: left;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 1rem;
	border-bottom: 1px solid #DDD; 
	text-transform: lowercase;
}

.list-blog-date p:nth-child(2) {
	color: #737373;
	font-size: 1.3rem;
}

.list-blog-date p:last-child {
	border-bottom: 0px solid #DDD; 
}

p#icon-calendar i {
	padding-right: 5px;
}

//continue reading

//?????
#blog-item-continue span {
	float: center;
}

span#blog-item-continue a {
	margin-top: 10px;
	text-transform: lowercase;
	background-color: #F0F0F0 !important;
	color: #737373;
	border-color: #737373;
}

span#blog-item-continue a:hover {
	background-color: #737373 !important;
	color: #F0F0F0;
	box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15);
}

// above navigation bar
#above {
    background: -webkit-linear-gradient(95deg, #FFFFFF, #737373); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(95deg, #FFFFFF, #737373); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(95deg, #FFFFFF, #737373); /* For Firefox 3.6 to 15 */
    background: linear-gradient(95deg, #FFFFFF, #737373); /* Standard syntax (must be last) */
	padding-right: 7rem;
	padding-left: 7rem;
	padding-top: 1rem;
	height: 6.5rem;

	@include breakpoint(tablet-range) {
		padding-top: 0.5rem;
		padding-right: 5rem;
		padding-left: 4rem;
	}

	@include breakpoint(mobile-only) {
		padding-top: 0.5rem;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	img {
    max-width: 100%;
    height: auto;
	}

	li {
		list-style-type: none;
	}
		#abovelogo h3 {
			margin-top: 0;
			margin-bottom: 0;
			float: left;
		}

		#abovelogo li {
			float: left;
			height: 4rem;
		}

		#aboveimages li {
			float: right;
			height: 81px;
			@include breakpoint(tablet-range) {
				display: none;
			}
			@include breakpoint(mobile-only) {
				display: none;
			}
		}
}

// Color gradient separator
#sb-site #header div#colorgradient, #sb-site #footer div#colorgradient, {
	z-index: 5;
	height: 2px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}

// Copyright work around
#footer span.copyright {
	font-family: "SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
	color: #fff;
}

#header #navbar #search_nav input {
	margin-bottom: 0px !important;
}

//fix for navigation menu color
.header-image #header a {
	color: #1BB3E9;

}

//image logo minimazation effect
#header.scrolled #logo-img img {
	height: 25px;
}

// Font Family
$font-family-default:  			"SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
$font-family-header:  			"SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

#map {
    height: 500px;
}

//site-contact-gmap
div#site-contact-map {
	position: relative;
	border-radius: 0rem !important;
	padding-right: 0rem !important;
	padding-left: 0rem !important;
}

//sidebar
#sidebar {
    padding-left: 5rem;
    text-transform: lowercase;
}

.sidebar-content .recent-post {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F0F0F0;
    float: left;
    clear: both;
    width: 100%;
}

.sidebar-content [class~='recent-post']:last-of-type {
    border-bottom: none;
}

.sidebar-content .recent-post .recent-post-image,
.sidebar-content .recent-post .recent-post-text {
    float: left;
    display: inline-block;
}

.sidebar-content .recent-post .recent-post-image {
    margin-right: 10px;
}

.sidebar-content .recent-post .recent-post-image img {
    border-radius: 4px !important;
}

.sidebar-content .recent-post .recent-post-text h4 {
    font-family: "SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.sidebar-content .recent-post .recent-post-text h4 a {
    color: #193441;
}

.sidebar-content .recent-post .recent-post-text p {
    font-family: "SourceHanSansJP", "hiragino-kaku-gothic-pro-w3", "heiseiminstd-w3", "Meiryo", "Lucida Grande", serif;
    font-size: 1rem;
    color: #737373;
    margin-top: 0px !important;
}

//syndicate buttons #F69537
.syndicate a.button {
	background-color: #FFFFFF;
	color: #FA743E;
	border: 1px solid  #FA743E;
}

.syndicate a.button:hover {
	background-color: #FA743E;
	color: #FFFFFF;
	border: 1px solid  #FFFFFF;
	box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15);
}

//other buttons blue color change
a.button {
	color: #3B94D9;
	border: 1px solid  #3B94D9;
}

//link blue color change
a {
    color: #3B94D9;
}

.tags a {
	border: 1px solid #F9D236;
	background-color: #F9D236 !important;
	color: #FFFFFF;
	text-transform: lowercase;
}

.tags a:hover {
	border: 1px solid #FFFFFF;
	background-color: #F9D236 !important;
	color: #FFFFFF;
	box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15);
}

// grey color for sidebar-titles
#sidebar .sidebar-content h4 {
	color: #737373;
}

//background image

.blog-background div {
	background-image:  url("../images/background.jpg") !important;
}

.header-image #body .flush-top {
	margin-top: -5rem !important;
	color: #FFFFFF;
}

.list-item .list-blog-header div {
	background-color: #EEEEEE !important;
}